{
    "env": {
        "production": {
            "plugins": [
                ["emotion", {
                    "hoist": true
                }]
            ]
        },
        "development": {
            "plugins": [
                ["emotion", {
                    "sourceMap": true,
                    "autoLabel": true
                }]
            ]
        }
    },
    "presets": ["env", "react", "stage-2"],
    "plugins": ["emotion", "react-hot-loader/babel"]
}
