@import './graphs';
@import './sidebar';

.vp-app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.vp-header {
  display: flex;
  flex-shrink: 0;
  flex-direction: row;
  border-bottom: 1px solid @gray-light;
  .vp-header-item {
    flex-grow: 1;
    padding: @padding-large @padding-larger;
    border-right: 1px solid @gray-lighter;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    background-color: @gray-lightest;
    cursor: pointer;
    position: relative;
    &:last-child {
      border-right: none;
    }
    &:hover {
      background-color: @gray-lighter;
    }
    &.vp-upload input[type="file"] {
      width: 100%;
      height: 100%;
      font-size: 0;
      cursor: pointer;
      outline: none;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      &::-webkit-file-upload-button {
        display: none;
      }
    }
  }
}

.vp-content {
  flex-grow: 1;
  position: relative;
  .vp-graphs {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: @sidebar-width;
  }
}
