.vp-graph {
  display: flex;
  flex-direction: column;
  border-right: 1px solid @gray-lighter;
  position: relative;
  flex-shrink: 1;
  width: 50%;
  &:last-child {
    border-right: none;
  }

  canvas {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .vp-graph-axes {
    flex-shrink: 0;
    padding: @padding-small @padding-base;
  }
  .vp-graph-viewport {
    flex-grow: 1;
  }
}

.img-container {
  display: flex;
  width: 100%;
  flex-grow: 0;
  background-color: rgb(200, 200, 250);
  flex-direction: row;
  overflow: auto;
  flex-wrap: wrap;
  align-content: flex-start;
}
.thumb {
  align-self: flex-start;
}
